
body{
    background-image: url("./img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}
.main{
    justify-content: center;
    text-align: center;
    background-image: url("./img/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30%;
    margin-top: 7%;
    padding: 30px;
    width: 500px;
    border-radius: 15px;
}
.main h1{
    color: rgb(73, 0, 95);
    font-weight: bold;
}
#item ul{
    list-style-type:none ;
}
#item li{
    padding: 20px;
    border-left: 5px solid rgb(145, 145, 145);
    margin: 20px 10px;
    background-color: white;
    border-radius: 5px;
}
#item li:hover{
    border-left:5px solid rgb(79, 0, 116) ;
}
.delete{
    float: right;
    color: white;
    border: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(79, 0, 116);
    margin-top: -2%;
    padding: 7px;
    cursor: pointer;
}
.delete:hover{
    color: rgb(79, 0, 116);
    border: 2px solid rgb(79, 0, 116);
    background-color: white;
    padding: 7px;
}
#add{
    margin-left: 80px;
    padding: 20px;  
}
#add input{
    padding: 10px;
    width:250px;
    margin-right: 20px;
}
#add button{
    float: right;
    margin-right: 30px;
    background-color: rgb(255, 0, 119);
    padding: 8px;
    width: 50px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#add button:hover{
    background-color: rgb(255, 59, 212);
  
}
p{
    color: rgb(196, 196, 196);
    text-align: center;
}
@media only screen and (max-width: 600px){
   body{
    background-image: url("./img/bg-m1.jpg");
    background-position:100%;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
   }
   .main{
    margin-top: 70px;
    margin-left: 24px;
    width: 100px;
    border-radius: 15px;
   }
   .main h1{
    font-size: 20px;
    width: 200px;
    margin-left: -50px;
   }
   #item li{
    font-size: 10px;
    width: 100px;
    margin-left: -50px;
    padding: 10px;
   }
   .name{
    margin-left: -20px;
   }
   .delete{
    padding: 2px;
    margin-top: -3px;
    margin-right: -6px;
    font-size: 9px;
   }
   #add input{
    margin-top: -15px;
    width: 100px;
    margin-left: -100px;
    padding: 4px;
   }
   #add button{
    padding: 3px;
    margin-top: 10px;
    margin-right: 23px;
   }
   p{
    font-size: 10px;
    margin-right: 180px;
    color: white;
   }

}